/** FONTS **/

body {
  font-family: 'DM Sans', sans-serif;
}

.font-open {
  font-family: 'Open Sans', 'DM Sans', sans-serif;
}

/** COLORS **/

.text-red {
  color: #E9364B;
}

.bg-red {
  background-color: #E9364B;
}

.border-red {
  border: 2px solid #E9364B;
}

.border-white {
  border: 2px solid white;
}

.text-pink {
  color :rgba(233, 54, 75, 0.5);
}

.bg-pink {
  background-color: rgba(233, 54, 75, 0.1);
}

/** GENERAL **/

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-80 {
  height: 80px;
}

.mx-6 {
  margin-right: 5rem;
  margin-left: 5rem;
}

.banner {
  height: 75px;
  z-index: 4;
}

header {
  background-image: url("./img/bg.jpg");
  background-size: cover;
  background-position: center;
}

.title {
  font-weight: 800;
  font-family: 'Open Sans', 'DM Sans', sans-serif;
  text-transform: uppercase;
}

.my-rounded {
  border-radius: 20px;
}

.my-big-rounded {
  border-radius: 40px;
}

.my-rounded-bottom {
  border-radius: 0 0 16px 16px;
}

.pill-button {
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
}

.card-shadow {
  box-shadow: 0px 4px 16.100000381469727px 0px rgba(0, 0, 0, 0.25);
}

.popular {
  position: relative;
}

.popular::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  width: 100%;
  height: 14px;
  background-image: url(./img/triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.popular::after {
  content: "Montant pl\0000E9biscit\0000E9  par nos donateur·ices";
  position: absolute;
  top: -52px;
  left: 0;
  width: 100%;
  height: auto;
  font-size: 14px;
  color: #E9364B;
  line-height: 1.1em;
  padding: 0 20px;
  text-align: center;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.youtube-video-mobile {
  aspect-ratio: 9 / 16;
  width: 100%;
}

.my-accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  font-size: 1rem;
  color: #E9364B;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  font-family: 'Open Sans', 'DM Sans', sans-serif;
  text-align: left;
  background-color: white;
  border: 0;
  overflow-anchor: none;
}

.my-accordion-button.collapsed {
  color: rgba(233, 54, 75, 0.4);
}

@media (min-width: 768px) {
  .fs-14 {
    font-size: 14px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .fs-20 {
    font-size: 20px;
  }

  .fs-26 {
    font-size: 26px;
    line-height: 30px;
  }

  .fs-36 {
    font-size: 36px;
  }

  .fs-40 {
    font-size: 40px;
  }

  .pill-button {
    padding: .6rem 2.2rem;
  }

  header {
    padding-top: 75px;
    height: 100vh;
  }

  #slideshow div {
    height: 100vh;
  }

  .circle {
    width: 225px;
    height: 225px;
  }

  .equal {
    height: 225px;
    width: 75px;
  }

  .gouttes {
    background-image: url("./img/gouttes.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

@media (max-width: 768px) {
  .fs-14 {
    font-size: 12px;
  }
  
  .fs-16 {
    font-size: 14px;
  }

  .fs-20 {
    font-size: 16px;
  }

  .fs-26 {
    font-size: 20px;
    line-height: 24px;
  }

  .fs-36 {
    font-size: 30px;
  }

  .fs-40 {
    font-size: 34px;
  }

  .pill-button {
    padding: .5rem 1.2rem;
  }

  header {
    height: 500px;
  }

  #slideshow div {
    height: 600px;
  }

  .circle {
    width: 125px;
    height: 125px;
  }

  .equal {
    height: 125px;
    width: 50px;
  }
}

/* https://stackoverflow.com/questions/66768323/vertical-text-sliding-one-phrase-after-another */

.slides span {
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.slide-a {
  animation: slideIn 12s forwards ease infinite;
}
.slide-b {
  /* Start with 4 seconds delay */
  animation: slideIn 12s 4s forwards ease infinite;
}
.slide-c {
  /* Start with 8 seconds delay */
  animation: slideIn 12s 8s forwards ease infinite;
}


@keyframes slideIn {
  0% {
      transform: translate3d(0, 50%, 0);
      opacity: 0;
  }
  6.66% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
  }
  26.66% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
  }
  33.30% {
      transform: translate3d(0, -50%, 0);
      opacity: 0;
  }
  33.33% {
      transform: translate3d(0, 50%, 0);
      opacity: 0;
  }
  100% {
      transform: translate3d(0, 50%, 0);
      opacity: 0;
  }
}